{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <h1>Administrar usuarios</h1>
        <h2>Crear usuarios</h2>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <form method="post" action="/login/create_user/">
            {% csrf_token %}
            
            Nombre de usuario: <input type="text" name="user"><br>
            Correo: <input type="text" name="email"><br>
            Password: <input type="password" name="password"><br>
            Confirme Password: <input type="password" name="c_password"><br>
            <input type="checkbox" name="archivo" value="True"> Es Administrador
            <input type="submit" value="Crear usuario">
        </form>
        
        <h2>Listado de usuarios</h2>
        
        {% for i in usu%}
        
            {{i}}
            <form method="post" action="/login/delete_user/">
            {% csrf_token %}
            <input type="hidden" name="id_user" value="{{i}}">
            <input type="submit" value="Borrar">

            </form>
            <br>
        {% endfor %}
        
{% endblock %}