{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
        <h1>Borrar</h1>
        <form method="post" action="/archivos/borrar/">
            {% csrf_token %}
            <input type="hidden" name="a_id" value="{{a_id}}">
            <input type="hidden" name="m_id" value="{{m_id}}">
                <p>¿Está seguro de borrar esta entrada?</p>
                <input type="submit" value="Borrar">
        </form>
        <form method="post" action="/archivos/listar/">
            {% csrf_token %}
            <input type="hidden" name="m_id" value="{{m_id}}">
            <input type="submit" value="Cancelar">
        </form>
{% endblock %}