<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
            </head>
    <body>
        <div id="wrapper">
            <div id="header">
                    </div>
            <div id="content">
        <h1>Editar</h1>
        <form method="post" action="/archivos/editar_p/">
            {% csrf_token %}
            <ul>
                {% for tag in tags %}
                <li>
                    <input type="text" name="{{tag}}"
                    value="{{arch.tags|get_item:tag}}">
                </li>
                {% endfor %}
                <li>
                    <input type="hidden" name="a_id" value="{{arch.id}}">
                    <input type="hidden" name="m_id" value="{{m_id}}">
                    <input type="hidden" name="t_id" value="{{t_id}}">
                    <input type="submit" value="Guardar Cambios">
                </li>
            </ul>
        </form>
        <form method="POST" action="/archivos/borrar/">
            {% csrf_token %}
            <ul>
                <li>
                    <input type="hidden" name="a_id" value="{{arch.id}}">
                    <input type="hidden" name="m_id" value="{{m_id}}">
                    <input type="submit" onclick="return confirm('¿Está seguro que desea borrar este registro?');" value="Borrar">
                </li>
            </ul>
        </form>
            </div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>